@charset "UTF-8";

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  margin: 0;
  font-family: "Mulish", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  background-color: #061727;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow-x: hidden;
}

/* Buttons */
.btn-primary {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-primary:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-primary:focus {
  outline: none;
}

.btn-primary.dark-blue {
  background-image: linear-gradient(
    to right,
    #25aae1,
    #4481eb,
    #04befe,
    #3f86ed
  );
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

/* General Styles */
.pos-rel {
  position: relative;
}

.center-all {
  justify-content: center;
  justify-items: center;
  text-align: center;
  margin: 0 auto;
  display: flex;
}

p {
  margin-bottom: 0;
}

/* Nav Bar */

.navbar {
  padding: 0 20px;
}

#navbarNavAltMarkup {
  justify-content: flex-end;
}

/* Header Section */
#header {
  text-align: center;
  padding: 20px 0;
  background: #061727;
  background: linear-gradient(
      180deg,
      rgba(6, 23, 39, 0) 0,
      rgba(6, 23, 39, 0.3) 30%,
      rgba(6, 23, 39, 1) 100%
    ),
    url("../assets/img/space-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#header .header-content {
  padding: 150px 0;
}

@media screen and (max-width: 768px) {
  #header .header-content {
    padding: 70px 0;
  }
}

/* About Section */
#about {
  padding: 100px 0 20px 0;
  background-color: #061727;
  background-image: url("../assets/img/about-container-bg.svg");
  background-position: -10% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 1400px) {
  #about {
    padding: 30px 0 20px 0;
    background-position: -50% 50%;
  }
}

@media screen and (max-width: 1200px) {
  #about {
    padding: 20px 0 20px 0;
    background-position: -140% 50%;
  }
}

@media screen and (max-width: 1100px) {
  #about {
    padding: 20px 0 20px 0;
    background-position: -190% 50%;
  }
}

@media screen and (max-width: 1050px) {
  #about {
    padding: 20px 0 20px 0;
    background-position: -270% 50%;
  }
}

@media screen and (max-width: 1000px) {
  #about {
    padding: 20px 0 20px 0;
    background-position: -290% 50%;
  }
}

@media screen and (max-width: 992px) {
  #about {
    background-image: none;
  }
}

#about .about-container {
  margin: 150px 0 20px 0;
}

@media screen and (max-width: 1200px) {
  #about .about-container {
    margin: 20px 0 20px 0;
  }
}

@media screen and (max-width: 992px) {
  #about .about-container {
    max-width: 100%;
  }
}

#about .about-img {
  width: 100%;
  max-width: 350px;
  position: absolute;
  top: -215px;
  right: 25px;
  z-index: 4;
}

@media screen and (max-width: 1400px) {
  #about .about-img {
    max-width: 320px;
    top: -140px;
    right: 10px;
  }
}

@media screen and (max-width: 1200px) {
  #about .about-img {
    max-width: 320px;
    top: -10px;
    right: 10px;
  }
}

@media screen and (max-width: 1100px) {
  #about .about-img {
    max-width: 320px;
    top: -10px;
    right: 10px;
  }
}

@media screen and (max-width: 992px) {
  #about .about-img {
    max-width: 35px;
    top: -10px;
    right: 37%;
  }
}

@media screen and (max-width: 895px) {
  #about .about-img {
    max-width: 35px;
    top: -10px;
    right: 35%;
  }
}

@media screen and (max-width: 768px) {
  #about .about-img {
    max-width: 35px;
    top: -10px;
    right: 34%;
  }
}

@media screen and (max-width: 700px) {
  #about .about-img {
    max-width: 35px;
    top: -10px;
    right: 30%;
  }
}

@media screen and (max-width: 570px) {
  #about .about-img {
    max-width: 35px;
    top: -10px;
    right: 27%;
  }
}

@media screen and (max-width: 465px) {
  #about .about-img {
    max-width: 35px;
    top: -10px;
    right: 24%;
  }
}

@media screen and (max-width: 415px) {
  #about .about-img {
    max-width: 35px;
    top: -10px;
    right: 21%;
  }
}

@media screen and (max-width: 375px) {
  #about .about-img {
    max-width: 35px;
    top: -10px;
    right: 17%;
  }
}

@media screen and (max-width: 335px) {
  #about .about-img {
    max-width: 35px;
    top: -10px;
    right: 14%;
  }
}

@media screen and (max-width: 768px) {
  #about .col-md-6 {
    flex: 0 0 auto;
    width: 100%;
  }
}

.main-title {
  color: #fff;
  position: relative;
  z-index: 5;
  font-size: 3.5em;
  font-weight: 700;
  text-transform: uppercase;
}

.main-title.right {
  text-align: right;
}

@media screen and (max-width: 992px) {
  .main-title.right {
    text-align: center;
    font-size: 2.5em;
  }
}

@media screen and (max-width: 992px) {
  .main-title.right br {
    display: none;
  }
}

.sub-title {
  color: #62a0d1;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  padding: 20px 40px;
}

#about .content-box {
  background-color: rgba(98, 160, 209, 0.2);
  padding: 40px 40px;
}

/* Footer Section */
#footer {
  background-color: #020c16;
  padding: 20px 0;
  text-align: center;
}
