@charset "UTF-8";

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  margin: 0;
  font-family: "Mulish", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  background-color: #061727;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow-x: hidden;
}

/* Buttons */
.btn-primary {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-primary:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-primary:focus {
  outline: none;
}

.btn-primary.dark-blue {
  background-image: linear-gradient(
    to right,
    #25aae1,
    #4481eb,
    #04befe,
    #3f86ed
  );
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

/* General Styles */
.pos-rel {
  position: relative;
}

.center-all {
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  margin-bottom: 0;
}

/* Nav Bar */

.navbar {
  padding: 0 20px;
}

#navbarNavAltMarkup {
  justify-content: flex-end;
}

/* Header Section */
#header {
  text-align: center;
  padding: 20px 0;
  background: #061727;
  background: linear-gradient(
      180deg,
      rgba(6, 23, 39, 0) 0,
      rgba(6, 23, 39, 0.3) 30%,
      rgba(6, 23, 39, 1) 100%
    ),
    url("../assets/img/space-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#header .header-content {
  padding: 150px 0;
}

@media screen and (max-width: 768px) {
  #header .header-content {
    padding: 100px 0;
  }
}

/* About Section */
#about {
  padding: 100px 0 20px 0;
  background-color: #061727;
  position: relative;
}

#about .about-img {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 4;
}

@media screen and (max-width: 1400px) {
  #about .about-img {
    left: -200px;
  }
}

@media screen and (max-width: 1200px) {
  #about .about-img {
    left: -400px;
  }
}

@media screen and (max-width: 992px) {
  #about .about-img {
    left: 0;
    height: 80%;
  }
}

@media screen and (max-width: 768px) {
  #about .about-img {
    left: 0;
    height: 60%;
  }
}

@media screen and (max-width: 600px) {
  #about .about-img {
    left: 0;
    height: 40%;
  }
}

@media screen and (max-width: 450px) {
  #about .about-img {
    left: 0;
    height: 30%;
  }
}

@media screen and (max-width: 400px) {
  #about .about-img {
    left: 0;
    height: 25%;
  }
}

.main-title {
  color: #fff;
  position: relative;
  z-index: 5;
  font-size: 3.5em;
  font-weight: 700;
  text-transform: uppercase;
}

.main-title.right {
  text-align: right;
}

@media screen and (max-width: 992px) {
  .main-title.right {
    text-align: center;
    font-size: 2.5em;
  }
}

@media screen and (max-width: 992px) {
  .main-title.right br {
    display: none;
  }
}

.sub-title {
  color: #62a0d1;
  font-size: 1.5em;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  padding: 20px 40px;
  position: relative;
  z-index: 5;
}

@media screen and (max-width: 992px) {
  .sub-title {
    color: #020c16;
  }
}

#about .about-img-box {
  position: relative;
  z-index: 5;
}

#about .about-img-box img {
  position: absolute;
  left: 80px;
  width: 165%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

@media screen and (max-width: 1400px) {
  #about .about-img-box img {
    width: 145%;
  }
}

@media screen and (max-width: 1200px) {
  #about .about-img-box img {
    width: 135%;
  }
}

@media screen and (max-width: 992px) {
  #about .about-img-box img {
    width: 85%;
  }
}

@media screen and (max-width: 768px) {
  #about .about-img-box img {
    width: 85%;
  }
}

@media screen and (max-width: 600px) {
  #about .about-img-box img {
    width: 85%;
  }
}

@media screen and (max-width: 450px) {
  #about .about-img-box img {
    width: 65%;
  }
}

@media screen and (max-width: 400px) {
  #about .about-img-box img {
    width: 55%;
  }
}

#about .content-box {
  background-color: rgba(98, 160, 209, 0.2);
  padding: 40px 40px;
  position: relative;
  z-index: 5;
}

@media screen and (max-width: 992px) {
  #about .content-box {
    background-color: rgba(2, 12, 22, 0.8);
  }
}

/* Footer Section */
#footer {
  background-color: #020c16;
  padding: 20px 0;
  text-align: center;
}
